html{
    height: 100%;
}
#inImage{
    width: 50px;
}
#webImage{
    width: 50px;
}
.mainText{
    color: #4B7171;
    font-weight: bold;
}
body{
    width: 100%;
    height: 100%;
    background-color: #F0E1D0;
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    margin: 0;
}
aside{
    height: auto;
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: #F9F3EC;
    display: flex;
    flex-direction: column;
}
h1{
    grid-column: 2/2;
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
}
#linkNav{
    grid-column: 2/2;
    list-style: none;
    display: flex;
    justify-content: right;
}
#linkNav li{
    margin-right: 15px;
    margin-left: 10px;
}
 
#asideNavList{
    list-style: square;
}
.inputAndButtons{
    display: flex;
    flex-direction: column;
}
#noteArea{
    max-width: 95%;
    border: 10px, #5394A0;
    
}
section button{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    color: white;
    border-radius: 10px;
    height: 45px;
    margin: 10px;
}
.aboveTextButtons{

}
#newNote{
    background-color: #5394A0;
}
#darkTheme{
    background-color: #6F6A87;
}
#save{
    background-color: #5394A0;
}
#cancel{
    background-color: #D9827C;
}
footer{
    grid-column: 2/2;
    grid-row: 4/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}
footer div{
    margin-top: 20px;
}